div(class='d-flex h-100 text-center justify-content-center align-items-center')
  div(class='flex-row w-75 shadow p-5')
    h2 Welcome back
    form(class='text-left')
      div(class='form-group')
        label User ID
        input(type='text' class='form-control' id='userId' placeholder='Enter user ID')
      div(class='form-group')
        label User ID
        input(type='text' class='form-control' id='userId' placeholder='Enter password')
        small Forgot your password?
      button(type='submit' class='btn btn-primary w-100') Submit
      small Need an account? Register