div(class='d-flex h-25 text-center justify-content-center align-items-center border-bottom')
  ul(class='nav flex-column')
    if user
      h2 Welcome !{user}
      li(class='nav-item')
        a(class='nav-link' href='/logout') Logout
      li(class='nav-item')
    else
      li(class='nav-item')
        usename
        a(class='nav-link' href='/login') Login
      li(class='nav-item')
        a(class='nav-link' href='/register') Register
div(class='d-flex h-50 text-center justify-content-center border-bottom pt-5')
  ul(class='nav flex-column')
    if user
      li(class='nav-item')
        a(class='nav-link' href='/user_lobby') My Lobbies
      li(class='nav-item')
        a(class='nav-link' href='/create_lobby') Create Lobby
    li(class='nav-item')
      a(class='nav-link' href='/lobby') Game Lobbies
    li(class='nav-item')
      a(class='nav-link' href='/about') About
div(class='d-flex h-25 text-center justify-content-center align-items-center')
  small(class='p-4')
    h6 Footer information
    h8 CSC 667, Group 3.
    p This is a test page not meant for any practical use.