div(class='d-flex h-25 text-center justify-content-center align-items-center')
  ul(class='nav flex-column')
    if username
      li(class='nav-item')
        a(class='nav-link' href='/user_lobby') My Lobbies
      li(class='nav-item')
        a(class='nav-link' href='/lobby') Logout
    else
      li(class='nav-item')
        usename
        a(class='nav-link' href='/login') Login
      li(class='nav-item')
        a(class='nav-link' href='/register') Register
div(class='d-flex h-50 text-center justify-content-center')
  ul(class='nav flex-column')
    li(class='nav-item')
      a(class='nav-link' href='/lobby') Game Lobbies
    li(class='nav-item')
      a(class='nav-link' href='#') About
div(class='d-flex h-25 text-center justify-content-center align-items-center')
  small(class='p-4')
    h6 Footer information
    h8 CSC 667, Group 3.
    p This is a test page not meant for any practical use.