div(class='d-flex h-100 justify-content-center align-items-center')
  div(class='flex-col w-50 shadow text-center p-4')
    h5(class='my-4') Create an account
    form(class='text-left')
      div(class='form-group')
        label User ID
        input(type='text' class='form-control' id='userId' placeholder='Enter user ID')
      div(class='form-group')
        label Password
        input(type='text' class='form-control' id='password' placeholder='Enter password')
      div(class='form-group')
        label Confirm Password
        input(type='text' class='form-control' id='passwordconfirm' placeholder='Confirm password')
      button(type='submit' class='btn btn-primary w-100 mt-4') Submit
      small Already have an account? Login